.footer {
    background-color: #fff;
    // position: fixed;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // z-index: 50;
    padding: 10px 5px;
    border-top: 1px solid #000;
    // .footer__container

    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    // .footer__item

    &__item {}
}

.item-footer {
    padding: 7px 10px;
    font-size: 10px;
    cursor: pointer;
    color: rgb(124, 124, 124);
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-start;
    gap: 2px;
    transition: color .3s;
    border-radius: 10px;
    text-align: center;

    &._active {
        color: #000;
        background-color: rgb(230, 230, 230);
    }


    // .item-footer__logo

    &__logo {
        font-size: 24px;

    }

    // .item-footer__title

    &__title {
        flex: 1 1 auto;
    }
}