.information {
    padding: 20px 15px;
    // .information__slider

    &__slider {
    }

    // .information__content

    &__content {
        color: #ababab;
    }
}
.slider {
    margin-bottom: 20px;
    // .slider__wrapper

    &__wrapper {
    }

    // &__slide {
    //     width: 100%;
    //     position: relative;
    //     padding-bottom: 25%;

    //     & img {
    //         position: absolute;
    //         left: 0;
    //         top: 0;
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //     }
    // }
}

.slider__slide.swiper-slide {
max-width: 200px;
}



