.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  // background-position: center;
  // background-size: cover;
  position: relative;
  padding-bottom: 100%;
}

.swiper-slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // display: block;
  // width: 100%;
}